.section-best {
    background: url(../../../img/bestbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0 110px;
}

.section-best-title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}

.section-best-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}