.section-intro {
    background: url(../../../img/homeintrobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0 200px;
}

.section-intro-info {
    margin: 0 auto;
    text-align: center;
}

.section-intro-img {
    position: relative;
    width: 200px;
    margin: 0 auto 35px;
}

.section-intro-img::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 0;
}

.section-intro-img::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    right: 0;
}


.section-intro-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-intro-subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-intro-btn {
    font-weight: 700;
    padding: 7px 42px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.2s linear;
}

.section-intro-btn:hover {
    background-color: #fff;
    color: #000;
}